@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    transition: 0.5s;
}

/* profile img */
#profile
{
    border-radius: 100%;
}

/* container grid */
.container
{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
    grid-template-rows: minmax(30rem, auto);
    margin: 10rem;
    grid-auto-flow: dense;
    grid-gap: 1rem;
}
.container .box
{
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}
.container .box:hover
{
    background: #fff;
    color: black;
}
.container .box img
{
    position: relative;
    max-width: 10em;
    margin-bottom: 1em;
}
.container .box:nth-child(1)
{
    grid-column: span 2;
    grid-row: span 1;
}
.container .box:nth-child(2)
{
    grid-column: span 1;
    grid-row: span 1;
    cursor: pointer;
}
.container .box:nth-child(3)
{
    grid-column: span 1;
    grid-row: span 1;
    cursor: pointer;
}
.container .box:nth-child(4)
{
    grid-column: span 1;
    grid-row: span 3;
    cursor: pointer;
}
.container .box:nth-child(5)
{
    grid-column: span 1;
    grid-row: span 1;
    cursor: pointer;
}
.container .box:nth-child(6)
{
    grid-column: span 1;
    grid-row: span 2;
}
.container .box:nth-child(7)
{
    grid-column: span 1;
    grid-row: span 2;
}

/* Dark & Light Mode  */
#toggle
{
    position: relative;
    display: block;
    width: 12rem;
    height: 6rem;
    border-radius: 6rem;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 0.5rem 3.75rem rgba(0, 0, 0, 0.1),
                inset 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1),
                inset 0 -0.25rem 0.25rem rgba(0, 0, 0, 0.1);
    
    
}
#toggle.light_mode
{
    background: #fff;
    box-shadow: inset 0 0.125rem 3.75rem rgba(0, 0, 0, 0.1),
                inset 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1),
                inset 0 -0.25rem 0.25rem rgba(0, 0, 0, 0.05);
}
#toggle .indicator
{
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    background: linear-gradient(to bottom, #444, #222);
    background-image: url("https://img.icons8.com/emoji/96/000000/crescent-moon-emoji.png");
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.5),
                inset 0 0.25rem 0.25rem rgba(255, 255, 255, 0.2),
                inset 0 -0.25rem 0.25rem rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}
#toggle.light_mode .indicator
{
    left: 6rem;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    background-image: url("https://img.icons8.com/emoji/96/000000/sun-emoji.png");
    box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.1),
                inset 0 0.25rem 0.25rem rgba(255, 255, 255, 1),
                inset 0 -0.25rem 0.25rem rgba(255, 255, 255, 1);
}
body.light_mode
{
    background: #f0eaea;
}

/* clock */
.flip-clock-dot
{
    background: #b9aaaa;
}
.flip-clock-meridium a 
{
    color: #b9aaaa;
}
.flip-clock-meridium a:hover 
{
    color: #616060;
}

/* Responsive */
@media (max-width:2298px)
{
    .container
    {
        position: relative;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-template-rows: minmax(5rem, auto);
        margin: 5rem;
        grid-auto-flow: dense;
        grid-gap: 1rem;
    }
    .container .box:nth-child(1)
    {
        grid-column: span 2;
        grid-row: span 1;
    }
    .container .box:nth-child(2)
    {
        grid-column: span 2;
        grid-row: span 1;
    }
    .container .box:nth-child(3)
    {
        grid-column: span 1;
        grid-row: span 1;
    }
    .container .box:nth-child(4)
    {
        grid-column: span 2;
        grid-row: span 3;
    }
    .container .box:nth-child(5)
    {
        grid-column: span 1;
        grid-row: span 1;
    }
    .container .box:nth-child(6)
    {
        grid-column: span 2;
        grid-row: span 3;
    }
    .container .box:nth-child(7)
    {
        grid-column: span 1;
        grid-row: span 2;
    }
}
@media (max-width: 991px)
{
    .container
    {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
    .container .box
    {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}

/* Skills */
.s_container
{
    width: 40rem;
    position: relative;
}
.s_container h1
{
    margin-top: 20%;
    color: white;
}
.s_container .skills
{
    position: relative;
    display: flex;
    margin: 2rem 0;
    padding: 24px 10px 18px;
    background: linear-gradient(#616161 0%, #333 10%, #222);
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0.2rem solid black;
    transition: 0.5s;
}
.s_container:hover .skills
{
    opacity: 0.05;
}
.s_container .skills:hover
{
    opacity: 1;
    transform: scale(1.1);
}
.s_container .skills:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 0;
}
.s_container .skills .s_name
{
    position: relative;
    width: 110px;
    text-align: right;
    color: white;
    margin-top: -2px;
    text-transform: uppercase;
}
.s_container .skills .s_value
{
    position: relative;
    width: 40px;
    text-align: center;
    color: white;
    margin-top: -2px;
    text-transform: uppercase;
}
.s_container .skills .s_percent
{
    position: relative;
    width: calc(100% - 150px);
    height: 20px;
    margin: 0 10px;
    border-radius: 10px;
    background: #151515;
    box-shadow: inset 0 0 10px black;
    overflow: hidden;
}
.s_container .skills .s_percent .s_progress
{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background: white;
    box-shadow: inset 0 0 2px black;
    animation: s_animate 2s ease-in-out forwards;
}
@keyframes s_animate 
{
    from
    {
        width: 0;
    }
}
.s_container .skills:nth-child(2) .s_percent .s_progress
{
    background: linear-gradient(45deg, #1fe6ff, #673AB7)
}
.s_container .skills:nth-child(3) .s_percent .s_progress
{
    background: linear-gradient(45deg, #e01a1a, #f1f515)
}
.s_container .skills:nth-child(4) .s_percent .s_progress
{
    background: linear-gradient(45deg, #bcffb3, #0ac914)
}
.s_container .skills:nth-child(5) .s_percent .s_progress
{
    background: linear-gradient(45deg, #81044d, #cb1fff)
}
.s_container .skills:nth-child(6) .s_percent .s_progress
{
    background: linear-gradient(45deg, #fdf912, #f00c0c)
}
.s_container .skills:nth-child(7) .s_percent .s_progress
{
    background: linear-gradient(45deg, #098ba1, #64ff9f)
}

/* contact */
.contact-body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contact ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
.contact ul li
{
    list-style: none;
    margin: 0 3rem;
}
.contact ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 3rem;
    color: #eaeaea;
    transition: 0.5s;
}
.contact ul li a:hover
{
    color: #eaeaea;
}
.contact ul li a:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eaeaea;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: 0.5s cubic-bezier(.95, .32, .37, 1.31);
}
.contact ul li a:hover:before
{
    transform: scale(1);
}
.contact ul li:nth-child(1) a:hover:before
{
    background: #3b5998 ;
}
.contact ul li:nth-child(2) a:hover:before
{
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}
.contact ul li:nth-child(3) a:hover:before
{
    background:#EA4335 ;
}
.contact ul li:nth-child(4) a:hover:before
{
    background: #000 ;
}

/* about */
.a_body
{
    align-items: center;
    flex-direction: column;
    background-color: #111;
}
.a_container 
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: #111;
}
.profile
{
    position: relative;
    margin: 5rem;
    background: none;
    align-items: center;
    transition: 0.5s;
    text-align: center;
}
.profile p
{  
    margin: 1.2rem;
    color: #ffff;
    font-size: 1.2rem;
}
.profile img
{
    border-radius: 50%;
    width: 30rem;
}
.timeline 
{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul 
{
    list-style: none;
}
.timeline ul li 
{
    padding: 20px;
    background-color: #1e1f22;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.timeline ul li:last-child 
{
    margin-bottom: 0;
}
.timeline-content h1 
{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
}
.timeline-content p 
{
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}
.timeline-content .date 
{
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
@media only screen and (min-width: 768px) 
{
    .timeline:before 
    {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background-color: gray;
    }
    .timeline ul li 
    {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) 
    {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) 
    {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before 
    {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: gray;
        top: 0px;
    }
    .timeline ul li:nth-child(odd)::before 
    {
        transform: translate(50%, -50%);
        right: -30px;
    }
    .timeline ul li:nth-child(even)::before 
    {
        transform: translate(-50%, -50%);
        left: -30px;
    }
    .timeline-content .date 
    {
        position: absolute;
        top: -30px;
    }
    .timeline ul li:hover::before 
    {
        background-color: aqua;
    }
}

/* Draggable Menu */
.navigation
{
    position: relative;
    top: 1rem;
    width: 3rem;
    height: 3rem;
    background: #fff;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
    z-index: 1000000;
    border-radius: 0.5rem;
    overflow: hidden;
}
.navigation.nav
{
    width: 15rem;
    height: 20rem;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.65s;
}
.navigation .n_toggle
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}
.navigation .n_toggle.nav
{
    background: #2196f3;
}
.navigation .n_toggle::before
{
    content: '+';
    position: absolute;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    color: #000;
    font-weight: 400;
    transition: 0.5s;
}
.navigation .n_toggle.nav::before
{
    transform: rotate(315deg);
}
.navigation ul
{
    position: absolute;
    left: 0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    list-style: none;
    width: 100%;
}
.navigation ul li:hover
{
    background: #03a9f4;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #154367;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}
.navigation ul li a .icon .fas
{
    font-size: 1.5rem;
    color: 154367;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    height: 3rem;
    line-height: 3rem;
    text-align: start;
    white-space: nowrap;
}
.navigation ul li:hover a .icon .fas,
.navigation ul li:hover a .title
{
    color: #fff;
}

/* project */
.p_body
{
    width: 100%;
}
.p_container
{
    position: relative;
    max-width: 62.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.p_container .card
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 6.25rem 0;
}
.p_container .card:nth-child(odd)
{
    flex-direction: row;
}
.p_container .card:nth-child(even)
{
    flex-direction: row-reverse;
    text-align: right;
}
.p_container .card .imgBx
{
    position: relative;
    left: 1.5rem;
    width: 31.25rem;
    height: 25rem;
    z-index: 1;
}
.p_container .card:nth-child(even) .imgBx
{
    left: -1.5rem;
}
.p_container .card .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.p_container .card .contentBx
{
    position: relative;
    right: 1.5rem;
    width: 30.25rem;
    height: 25rem;
    background: rgb(84, 66, 105);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 3.75rem 1.25rem 6.25rem;
}
.p_container .card:nth-child(even) .contentBx
{
    right: -1.5rem;
    padding: 1.25rem 6.25rem 1.25rem 3.75rem;
}
.p_container .card .contentBx:before
{
    content: '';
    position: absolute;
    top: -2rem;
    bottom: -2rem;
    left: 0;
    right: 0;
    background: rgb(84, 66, 105);
    z-index: -1;
}
.p_container .card .contentBx h2
{
    font-size: 2rem;
    color: #ffffff;
}
.p_container .card .contentBx p
{
    margin-top: 0.5rem;
    color: #ffffff;
}
.p_container .card .contentBx a
{
    display: inline-block;
    margin-top: 0.5rem;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem;
    border: 0.2rem solid #80787d;
}
@media (max-width : 1000px)
{
    .p_container .card
    {
        flex-direction: column;
        max-width: 21.2rem;
        margin: 1.5rem;
    }
    .p_container .card .imgBx
    {
        width: 40rem;
        height: 15.7rem;
        left: 0;
    }
    .p_container .card .contentBx
    {
        width: 40rem;
        height: 20rem;
        right: 0;
        padding: 1.875rem;
        text-align: center;
    }
    .p_container .card .contentBx:before
    {
        top: 0;
        bottom: 0;
    }
    .p_container .card:nth-child(even) .imgBx
    {
        left: 0;
    }
    .p_container .card:nth-child(even) .contentBx
    {
        right: 0;
        padding: 1.875rem;
    }
}